<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Teaching Tools</title>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-route.min.js"></script>
		<script src="scripts/ngController.js"></script>
		<link rel="stylesheet" href="styles/std.css">
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body ng-app="app" ng-controller="controller">
		<header>
			<a id="brand" href="./">Teaching Tools</a>
			<nav id="siteNav">
				<ul>
					<li><a href="#/randomSelector">Random Selector</a></li>
					<li><a href="#/grouping">Grouping</a></li>
				</ul>
			</nav>
		</header>
		<section ng-view>
<script type="text/ng-template" id="randomSelector">
	<h1>Random Selector</h1>
	<div class="dlTable">
		<dl>
			<dt>Quantity</dt>
			<dd>
				<input type="number" ng-model="quantity" min="1">
				<button ng-click="quantity=quantity+1">+</button>
				<button ng-click="quantity=quantity-1">-</button>
			</dd>
		</dl>
		<dl>
			<dt>Select from</dt>
			<dd>
				<label><input type="radio" ng-model="type" value="numbers">ranged integers</label>
				<br>
				<label><input type="radio" ng-model="type" value="inputs">typed inputs</label>
			</dd>
		</dl>
		<dl ng-class="(type=='numbers')?'active':'disactive'">
			<dt>Range</dt>
			<dd class="dlTable">
				<dl>
					<dt>minimum</dt>
					<dd>
						<input type="number" ng-model="minimum" ng-focus="type='numbers'">
						<button ng-click="minimum=minimum+1;type='numbers'">+</button>
						<button ng-click="minimum=minimum-1;type='numbers'">-</button>
					</dd>
				</dl>
				<dl>
					<dt>maximum</dt>
					<dd>
						<input type="number" ng-model="maximum" ng-focus="type='numbers'">
						<button ng-click="maximum=maximum+1;type='numbers'">+</button>
						<button ng-click="maximum=maximum-1;type='numbers'">-</button>
					</dd>
				</dl>
			</dd>
		</dl>
		<dl ng-class="(type=='inputs')?'active':'disactive'">
			<dt>
				Inputs
				<br>
				<button ng-disabled="inputs.length==1" ng-click="inputs=[''];type='inputs'">Clear</button>
			</dt>
			<dd>
				<ol>
					<li ng-repeat="dump in inputs track by $index">
						<input ng-model="inputs[$index]" tabindex="{{$index+1}}" ng-change="checkBlank()" ng-focus="$parent.type='inputs'">
						<button ng-show="$index<inputs.length-1" ng-click="delete($index);$parent.type='inputs'">Delete</button>
					</li>
				</ol>
				<p style="text-indent: -2em;"><em>Tip</em>: Use <code>Tab</code> key to jump to the next input, and <code>Shift + Tab</code> back to the previous one.</p>
			</dd>
		</dl>
		<dl ng-show="type">
			<dt>Operation</dt>
			<dd><button ng-click="main()">RUN</button></dd>
		</dl>
		<dl ng-show="result.length">
			<dt>Result</dt>
			<dd>
				Last execution: <time ng-bind="lastExecution|date:'HH:mm:ss'"></time>
				<ol id="resultList">
					<li ng-repeat="elem in result track by $index">
						<span ng-if="elem.substr(0,4)!='http'" ng-bind="elem"></span>
						<img ng-if="elem.substr(0,4)=='http'" ng-src="{{elem}}">
					</li>
				</ol>
			</dd>
		</dl>
	</div>
</script>
<script type="text/ng-template" id="grouping">
	<h1>Grouping</h1>
	<div class="dlTable">
		<dl>
			<dt>Maximum</dt>
			<dd>
				<input type="number" ng-model="maximum" min="1" ng-change="skipsChanged()" ng-model-options="{debounce: 1000}">
				<button ng-click="maximum=maximum+1; skipsChanged();">+</button>
				<button ng-click="maximum=(maximum>1)?maximum-1:1; skipsChanged();">-</button>
			</dd>
		</dl>
		<dl>
			<dt>Skips</dt>
			<dd>
				<input ng-list=" " ng-trim="false" ng-model="skips" ng-model-options="{debounce: 1000}" ng-change="skipsChanged()">
				<p style="text-indent: -2em;"><em>Tip</em>: Numbers shall be separated by whitespaces.</p>
			</dd>
		</dl>
		<dl>
			<dt>Amount of groups</dt>
			<dd>
				<input type="number" ng-model="groupAmount" ng-change="groupAmountChanged()" min="1">
				<button ng-click="groupAmount=groupAmount+1; groupAmountChanged();">+</button>
				<button ng-click="groupAmount=(groupAmount>1)?groupAmount-1:1; groupAmountChanged();">-</button>
			</dd>
		</dl>
		<dl>
			<dt>Capacity of one group</dt>
			<dd>
				<input type="number" ng-model="capacity" ng-change="capacityChanged()" min="1">
				<button ng-click="capacity=capacity+1; capacityChanged();">+</button>
				<button ng-click="capacity=(capacity>1)?capacity-1:1; capacityChanged();">-</button>
				<br>
				<p style="text-indent: -2em;"><em>Tip</em>: Numbers in each group of the result would<br>never be less than the capacity, but may be more.</p>
			</dd>
		</dl>
		<!--dl>
			<dt>Debug</dt>
			<dd>
				Maximum: {{maximum|json}}
				<br>
				Skips: {{skips|json}}
				<br>
				Capacity: {{capacity|json}}
				<br>
				Result: {{result|json}}
			</dd>
		</dl-->
		<dl>
			<dt>Operation</dt>
			<dd><button ng-click="main()">RUN</button></dd>
		</dl>
		<dl ng-show="result.length">
			<dt>Result</dt>
			<dd>
				<p>Last execution: <time ng-bind="lastExecution|date:'HH:mm:ss'"></time></p>
				<button>
					<a target="_blank" 
						ng-click="mailBody={maximum: maximum, skips: skips, groupAmount: groupAmount, capacity: capacity, result: result}"
						href="mailto:?subject=Grouping of English class&amp;body={{(mailBody|json).replace('\n', '%0D%0A')}}"
					>Mail the result</a>
				</button>
				<ol id="resultList">
					<li ng-repeat="group in result track by $index">
						<span ng-repeat="number in group">{{number}}</span>
					</li>
				</ol>
			</dd>
		</dl>
	</div>
</script>
		</section>
		<footer>
			<nav>
				<ul class="inlineList">
					<li><a href="https://www.facebook.com/kong.sex">Author</a></li>
					<li><a href="https://github.com/kong0107/197/tree/gh-pages">Source Codes</a></li>
				</ul>
			</nav>
			<a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/deed.zh_TW">
				<img src="https://licensebuttons.net/p/zero/1.0/88x31.png" alt="CC0" />
			</a>
		</footer>
	</body>
</html>
