/**
 * This file shall apply to a specific site.
 */

/**
 * Global
 */
nav li {
	list-style-type: none;
	display: inline-block;
	padding: .1em .5em;
	border-right: 1px solid #888;
}
a {
	color: inherit;
	text-decoration: none;
}
a[href]:hover { text-decoration: underline; }
a img { border: 0; }
p { margin: .3em 0; }

/**
 * Header
 */
body > header {
	background-color: #000;
	color: #fff;
}
body > header > * {
	float: left;
}
body > header a {
	color: inherit;
	text-decoration: none;
}
#brand {
	font-size: xx-large;
	font-weight: bold;
	margin: .2em .4em;
}
#siteNav {
	margin: 1em 1em .5em 4em;
}
#siteNav li {
	border: 1px solid #ccc;
	background-color: #444;
}
#siteNav li:hover {
	background-color: #000;
	color: #ff0;
}

/**
 * Content
 */
body > section {
	padding: .5em;
}
h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 175%; }
h4 { font-size: 150%; }
h5 { font-size: 140%; }
h6 { font-size: 130%; }
.dlTable > dl > dt { font-weight: bold; }
.tableCell,
.dlTable > dl > dt,
.dlTable > dl > dd {
	padding: .3em;
}
input[type=number] { width: 4em; }
button { min-width: 1.5em; }

.active { }
.disactive { opacity: 0.5; }
code {
	padding: .2em;
	background-color: #ccc;
	border-radius: 4px;
}

#resultList li:only-of-type { list-style-type: none; }
#resultList li { padding: .75em; }
#resultList li span {
	background: rgb(53,76,140);
	font-family: helvetica, arial, sans-serif;
	color: #fff;
	padding: 5px .5em;
	font-weight: bold;
	border-radius: 10px;
	font-size: 500%;
}


/**
 * Footer
 */
body > footer {
	background-color: #000;
	color: #fff;
	display: table-row;
}

body > footer > nav {
	float: left;
	margin: .3em;
}
a[rel=license] { float: right; }
footer img { vertical-align: middle; }